@model VeulemanTrainingPlatform.Models.FinalPage

@{
    ViewData["Title"] = "Details";
}

<h1>FINAL EXAMINATION</h1>

<div>
    <h4>@Model.Title</h4>

    <img src="https://t4.ftcdn.net/jpg/01/63/40/67/240_F_163406789_K1l0yqyywFu4PI1bhl0n08XdlRg2lAHv.jpg" height="300" />

    <p>@Model.Description</p>
    <hr />
    <label for="fname">Question 1:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Question 2:</label><br>
    <input type="text" id="lname" name="lname">
    <br />
    <label>Question 3:</label>
    <br />
    <input type="radio" id="html" name="fav_language" value="Answer 1">
    <label for="html">Answer 1</label><br>
    <input type="radio" id="css" name="fav_language" value="Answer 2">
    <label for="css">Answer 2</label><br>
    <input type="radio" id="javascript" name="fav_language" value="Answer 3">
    <label for="javascript">Answer 3</label>
    <br />
    <label for="fname">Question 4:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Question 5:</label><br>
    <input type="text" id="lname" name="lname">
    <br />
    <label>Question 6:</label>
    <br />
    <input type="radio" id="html" name="fav_language" value="Answer 1">
    <label for="html">Answer 1</label><br>
    <input type="radio" id="css" name="fav_language" value="Answer 2">
    <label for="css">Answer 2</label><br>
    <input type="radio" id="javascript" name="fav_language" value="Answer 3">
    <label for="javascript">Answer 3</label>
    <br />
    <label for="fname">Question 7:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Question 8:</label><br>
    <input type="text" id="lname" name="lname">
    <br />
    <label>Question 9:</label>
    <br />
    <input type="radio" id="html" name="fav_language" value="Answer 1">
    <label for="html">Answer 1</label><br>
    <input type="radio" id="css" name="fav_language" value="Answer 2">
    <label for="css">Answer 2</label><br>
    <input type="radio" id="javascript" name="fav_language" value="Answer 3">
    <label for="javascript">Answer 3</label>
    <br />
    <input type="button" onclick="alert('You did not screw a pooch! Sir. ?Y tu?')" value="Click Me!"> ​
</div>
