@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Veuleman Learning!</h1>

    <img src="https://newcrownedhope.org/wp-content/uploads/2020/10/education_g7zr.jpg" />
</div>
