@model VeulemanTrainingPlatform.Models.QuizPage

@{
    ViewData["Title"] = "Quiz";
}

<h1>Quiz</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />

    <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/15E07/production/_112970698_qt.jpg" height="300" />

    <p>@Model.Description</p>

    <label for="fname">Question 1:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Question 2:</label><br>
    <input type="text" id="lname" name="lname">
    <br />
    <label>Question 3:</label>
    <br />
    <input type="radio" id="html" name="fav_language" value="Answer 1">
    <label for="html">Answer 1</label><br>
    <input type="radio" id="css" name="fav_language" value="Answer 2">
    <label for="css">Answer 2</label><br>
    <input type="radio" id="javascript" name="fav_language" value="Answer 3">
    <label for="javascript">Answer 3</label>
</div>
@using (@Html.BeginForm("AuditNext", "QuizPage", new { Id = @Model.Id }, FormMethod.Post))
{
    <input type="submit" value="Submit" />
}